################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/JXGIS.Common.BaseLib/obj/Debug
/JXGIS.Common.Entity/obj/Debug
/JXGIS.Common.StaticLib/obj/Debug
/JXGIS.TianDiTuThematicMaps.Business/obj/Debug
