@import '~/Extends/default.less';

.schooldistrictpopup {
    width: 300px;
    font-size: 14px;

    &-name {
        color: @primary-color;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 2px solid @primary-color;
        padding-bottom: 5px;
        margin-bottom: 8px;
    }

    &-area, &-districts {
        border-bottom: 1px solid @border-color-base;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }

    > span {
        color: @primary-color;
        font-size: 15px;
        letter-spacing: 5px;
    }

    &-btns {
        text-align: center;
        margin: 5px;

        span {
            letter-spacing: 2px;
        }
    }
}
