@{
    Layout = "~/Views/Shared/_MasterBlank.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/Views/Test/css/Index.less")"/>
<div id="app">
   
</div>
<script src="~/Reference/geodesy/latlon-spherical.js"></script>
<script src="~/Reference/leaflet-plugins/draw/leaflet.draw.js"></script>
<script src="@Url.Content("~/Views/Test/js/Index.jsx")"></script>