
@{
    ViewBag.Title = "TestWmts";
    Layout = "~/Views/Shared/_MasterBlank.cshtml";
}
<link href="~/Reference/leaflet-plugins/draw/leaflet.draw.css" rel="stylesheet" />
<link href="@Url.Content("~/Views/Test/css/TestWmts.less")" rel="stylesheet" />
<div id="map">


</div>
<script src="~/Reference/leaflet-plugins/draw/leaflet.draw.js"></script>
<script src="@Url.Content("~/Views/Test/js/TestWmts.jsx")"></script>


<script>



</script>