
@{
    ViewBag.Title = "TestWmts";
    Layout = "~/Views/Shared/_MasterBlank.cshtml";
}

<link href="@Url.Content("~/Views/Test/css/TestWmts.less")" rel="stylesheet" />
<div id="map">


</div>
<script src="@Url.Content("~/Views/Test/js/TestWmts.jsx")"></script>