@import "~/Extends/default.less";

#app {
    height: 100%;
    width: 100%;
}

.mCS-dark-blue .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0;
}

.mCS-dark-blue.mCSB_inside > .mCSB_container {
    margin-right: 15px;
}


.mCS-dark-blue .mCSB_draggerRail {
    background-color: @border-color-base;
}

.mCS-dark-blue .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: @primary-color;
    width: 4px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.panel1 {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    z-index: 999;
    background-color: white;
    box-shadow: @box-shadow-base;
    border-radius: 3px;
}

.gs-gjz {
    @c: #00700d;
    color: white;
    background-color: @c;
    border: 2px solid lighten(@c,10%);
    border-radius: 50%;
    line-height: 18px;
    font-size: 16px;
    text-align: center;
    /*&:after {
        content: '自';
    }*/
}


.content-popup {
    width: 300px;

    &-title {
        color: @primary-color;
        border-bottom: 2px solid @primary-color;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        padding: 5px;
    }

    &-content {
        height: 200px;
        overflow: auto;
        border: 1px solid #f7f7f7;
        /*border-top: 2px solid @border-color-base;*/
        table {
            border-collapse: collapse;

            tr:nth-child(2n+1) {
                background-color: #f7f7f7;

                td {
                    border-left: 1px solid white;
                }
            }

            tr:nth-child(2n) {
                td {
                    border-left: 1px solid #f7f7f7;
                }
            }

            th {
                width: 40%;
                text-align: center;
                font-weight: normal;
                color: @primary-color;
                padding: 5px;
            }

            td {
                width: 60%;
                padding: 5px;
            }
        }
    }
}


.layer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.ant-tree-node-content-wrapper, .ant-tree-switcher {
    margin-top: 2px !important;
}*/


.catalog {
    height: 400px;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.catalog-search {
    padding: 10px;
    border-bottom: 1px solid @border-color-base;
    margin: 0 5px;
}

.catalog-tree {
    height: calc(~'100% - 60px');
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px 10px;
}

.display-none {
    display: none;
}


#t1 {
    position: fixed;
    height: 500px;
    width: 500px;
    z-index: 99999;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#t2 {
    height: 200px;
    width: 200px;
    background: blue;
}
